* {
    box-sizing: border-box;
    margin: 0;
    padding:0 ;
}
body{
    background:  url(./image/dune-1748462_1920.jpg) rgba(0,0,0,0.7);
}
header{
    width: 100vw;
    height: 15vh;
    background-color: transparent;
    position: sticky;
    background-color: rgba(0,0,0,0.3);
}
nav{
    width: 100vw;
    height: 9vh;
display: flex;
justify-content: center;
align-items:center;
}
nav a{
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
.logo {
    widows: 20%;
    height: 20%;
}